<!-- Map -->
<map-banner [layout]="'header'" class="map-banner-page"></map-banner>

<!-- Most Visited Places -->
<most-visited-places [title]="mostVisitedPlacesTitle" [desc]="mostVisitedPlacesDesc" [data]="places"></most-visited-places>

<!-- Feature Section -->
<feature-section [title]="featureSectionTitle" 
                 [desc]="featureSectionDesc" 
                 [image]="featureSectionImage" 
                 [data]="features" >
</feature-section>

<!-- Testimonial Section -->
<testimonial [title]="testimonialTitle" [desc]="testimonialDesc" [data]="testimonials"></testimonial>

<!-- Feature Grid Section -->
<feature-grid-section   [title]="featureGridTitle" 
                        [desc]="featureGridDesc"
                        [data]="featureGrids">
</feature-grid-section>

<!-- Parallax -->
<parallax-section></parallax-section>

<!-- Pricing Tables  -->
<pricing></pricing>

<!-- Recent Blog Posts -->
<recent-blog [title]="recentBlogTitle" [data]="blogs"></recent-blog>