<!-- Banner -->
<banner-version1 [title]="bannerTitle" [desc]="bannerDesc" [bgImageUrl]="bannerImage"></banner-version1>

<!-- Popular Categories -->
<popular-categories [title]="popularCategoriesTitle" [desc]="popularCategoriesDesc" [data]="categories"></popular-categories>

<!-- Most Visited Places -->
<most-visited-places [title]="mostVisitedPlacesTitle" [desc]="mostVisitedPlacesDesc" [data]="places"></most-visited-places>

<!-- Services Section -->
<services-section [title]="servicesTitle" [desc]="servicesDesc" [data]="services"></services-section>

<!-- Team Section -->
<team [title]="teamSectionTitle" [desc]="teamSectionDesc" [data]="teamMembers"></team>

<!-- Recent Blog Posts -->
<recent-blog [title]="recentBlogTitle" [data]="blogs"></recent-blog>